<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <style>
        body,html{
            height: 100%;
        }

    </style>
</head>
<body>
    <%- include('../../partials/navbar-admin.ejs')  %> 

    <div class="container mt-5">
        <form class="card" action="/admin/categories/edit/update" method="POST">
            <input type="hidden" name="id" value="<%= category.id  %>">
            <div class="card-header text-center">
                <h2>Editing category <%= category.id  %>#</h2>
            </div>
            <div class="card-body">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="name" name="name" placeholder="New category name" value="<%= category.name  %>" required>
                    <label for="category">New category name:</label>
                  </div>
                <a href="/admin/categories" class="btn btn-success mb-2 float-start">Back</a>
                <button type="submit" class="btn btn-success mb-2 float-end">Update</button>

            </div>
        </form>
    </div>
</body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</html>